In [1]:
# Dependencies
import pandas as pd
import os
from census import Census
from us import states

In [2]:
# Navigate to config file
orig_working_directory = os.getcwd()
print(orig_working_directory)

os.chdir(os.path.join('..'))

curr_working_directory = os.getcwd()
os.getcwd()

C:\Users\katie\Food-Deserts

'C:\\Users\\katie'

In [3]:
# Census & gmaps API Keys
from config import (api_key)

#pull tracts that were food deserts in 2010 and are not longer in 2015
tracts = ['011100', '009601', '007806', '007809', '009501', '002102', '007301', '007401', '007603']

In [4]:
#decide which variables to pull and keep track of "real" name

variables = ["NAME", "B01003_001E", "B11001_001E", "B19013_001E", "B07001_017E", "B07001_001E", "B19058_002E", 
                "B01002_001E", "B01002_001E","B19301_001E", "B02001_002E", "B02001_003E", 
                "B02001_004E", "B02001_005E", "B02001_006E", "B02001_007E", "B17001_002E", 
                "B02001_008E", "B25035_001E", "B25039_001E", "B25064_001E", "B25064_001E", "B25077_001E",
                "B07012_006E", "B07012_007E", "B07012_008E", "B07004A_002E", "B07004B_002E", "B07004C_002E",
                "B07004D_002E", "B07004E_002E", "B07004F_002E", "B07004G_002E", "B07004I_002E", "B08301_001E",
                "B08301_002E", "B08301_003E", "B08301_004E", "B08301_010E", "B08301_018E", "B08301_019E", 
                "B08301_021E", "B11001_002E", "B11001_003E", "B11001_004E", "B11001_005E", "B11001_006E", 
                "B11001_007E", "B11001_008E", "B11001_009E", "B07009_008E", "B07009_009E", "B07009_010E", 
                "B07009_011E","B07009_012E", "B07010_013E", "B07010_014E", "B07010_015E", "B07010_016E", 
                "B07010_017E", "B07010_018E", "B07010_019E", "B07010_020E", "B07010_021E", "B07010_022E", 
                "B07010_002E", "B07010_004E", "B07010_005E", "B07010_006E", "B07010_007E", "B07010_008E",
                "B07010_009E", "B07010_010E", "B07010_011E", "B07012_002E", "B07012_003E", "B07012_004E" ,
                "B07001_018E", "B07001_019E", "B07001_020E", "B07001_021E", "B07001_022E", "B07001_023E", 
                "B07001_024E", "B07001_025E", "B07001_026E", "B07001_027E", "B07001_028E", "B07001_029E", 
                "B07001_030E", "B07001_031E", "B07001_032E", "B07001_002E", "B07001_003E", "B07001_004E", 
                "B07001_005E", "B07001_006E", "B07001_007E", "B07001_008E", "B07001_009E", "B07001_010E",
                "B07001_011E", "B07001_012E", "B07001_013E", "B07001_014E", "B07001_015E", "B07001_016E",
                "B01001_002E", "B01001_026E", "B19083_001E"]
     

             

renamed_variables = {"NAME": "Name",
             "B01003_001E": "Total Population",
             "B11001_001E": "Total Households",
             "B07001_017E": "Same house 1 year ago",
             "B07001_001E": "Geographical Mobility in past year",
             "B01002_001E": "Median Age",
             "B19058_002E": "HH with Public assistance or Food Stamps/SNAP",
             "B19013_001E": "Median Household Income (past 12 months)",
             "B19301_001E": "Per Capita Income",
             "B17001_002E": "Poverty Satus in Past 12 Months", 
             "B17001_002E": "Income in the past 12 months below Poverty Level",        
             "B02001_002E": "Total White alone", 
             "B07004A_002E":"Same house 1 year ago (WHITE ALONE)",         
             "B02001_003E": "Total Black or African American alone", 
             "B07004B_002E":"Same house 1 year ago (BLACK OR AFRICAN AMERICAN ALONE)",        
             "B02001_004E": "Total American Indian and Alaska Native alone", 
             "B07004C_002E":"Same house 1 year ago (AMERICAN INDIAN AND ALASKA NATIVE ALONE)",        
             "B02001_005E": "Total Asian alone", 
             "B07004D_002E":"Same house 1 year ago (ASIAN ALONE)",        
             "B02001_006E": "Total Native Hawaiian and Other Pacific Island alone", 
             "B07004E_002E":"Same house 1 year ago (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)",        
             "B02001_007E": "Some other race alone", 
             "B07004F_002E":"Same house 1 year ago (SOME OTHER RACE ALONE)",        
             "B02001_008E": "Two or more races",
             "B07004G_002E":"Same house 1 year ago (TWO OR MORE RACES)",        

                     
             "B25035_001E": "Median Yr Housing Blt", 
             "B25039_001E": "Median Yr HH moved into HH",
             "B25064_001E": "Median Gross Rent ($)",
             "B25064_001E": "Median Gross Rent ($)" , 
             "B25077_001E": "Median Value ($)",
             "B08301_001E": "MEANS OF TRANSPORTATION TO WORK total",
             "B08301_002E": "Total!!Car, truck, or van",
             "B08301_003E": "Total!!Car, truck, or van!!Drove alone",
             "B08301_004E": "Total!!Car, truck, or van!!Carpooled",
             "B08301_010E": "Total!!Public transportation (excluding taxicab)",
             "B08301_018E": "Total!!Bicycle",
             "B08301_019E": "Total!!Walked",
             "B08301_021E": "Total!!Worked at home",                      
                    
             "B07012_006E":"Same house 1 year ago!!Below 100 percent of the poverty level",
             "B07012_002E":"Total!!Below 100 percent of the poverty level",        
             "B07012_007E":"Same house 1 year ago!!100 to 149 percent of the poverty level",
             "B07012_003E":"Total!!100 to 149 percent of the poverty level",         
             "B07012_008E":"Same house 1 year ago!!At or above 150 percent of the poverty level",
             "B07012_004E":"Total!!At or above 150 percent of the poverty level", 
                                          
             "B11001_002E":"Total!!Family households" ,   
             "B11001_003E":"Total!!Family households!!Married-couple family",  
             "B11001_004E":"Total!!Family households!!Other family",
             "B11001_005E":"Total!!Family households!!Other family!!Male householder, no wife present",   
             "B11001_006E":"Total!!Family households!!Other family!!Female householder, no husband present",
             "B11001_007E":"Total!!Nonfamily households",
             "B11001_008E":"Total!!Nonfamily households!!Householder living alone",
             "B11001_009E":"Total!!Nonfamily households!!Householder not living alone",
    
             "B07009_008E":"Total!!Same house 1 year ago!!Less than high school graduate",
             "B07009_009E":"Same house 1 year ago!!High school graduate (includes equivalency)", 
             "B07009_010E":"Same house 1 year ago!!Some college or associate's degree" ,
             "B07009_011E":"Same house 1 year ago!!Bachelor's degree", 
             "B07009_012E":"Same house 1 year ago!!Graduate or professional degree", 
                     
             "B07010_013E":"Total!!Same house 1 year ago!!No income" ,                     
             "B07010_014E":"Same house 1 year ago!!With income", 
             "B07010_002E":"Total!!With income", 
             "B07010_015E":"Same house 1 year ago!!With income!!$1 to $9,999 or loss",
             "B07010_004E":"Total!!With income!!$1 to $9,999 or loss",         
             "B07010_016E":"Same house 1 year ago!!With income!!$10,000 to $14,999",
             "B07010_005E":"Total!!With income!!$10,000 to $14,999",       
             "B07010_017E":"Same house 1 year ago!!With income!!$15,000 to $24,999", 
             "B07010_006E": "Total!!With income!!$15,000 to $24,999",        
             "B07010_018E":"Same house 1 year ago!!With income!!$25,000 to $34,999", 
             "B07010_007E":"Total!!With income!!$25,000 to $34,999",       
             "B07010_019E":"Same house 1 year ago!!With income!!$35,000 to $49,999", 
             "B07010_008E":"Total!!With income!!$35,000 to $49,999",        
             "B07010_020E":"Same house 1 year ago!!With income!!$50,000 to $64,999", 
             "B07010_009E":"Total!!With income!!$50,000 to $64,999",          
             "B07010_021E":"Same house 1 year ago!!With income!!$65,000 to $74,999", 
             "B07010_010E":"Total!!With income!!$65,000 to $74,999",          
             "B07010_022E":"Same house 1 year ago!!With income!!$75,000 or more",
             "B07010_011E":"Total!!With income!!$75,000 or more",          
                                   
             "B07001_018E":"Same house 1 year ago!!1 to 4 years age",
             "B07001_002E":"Total!!1 to 4 years",        
             "B07001_019E":"Same house 1 year ago!!5 to 17 years age", 
             "B07001_003E":"Total!!5 to 17 years",          
             "B07001_020E":"Same house 1 year ago!!18 and 19 years age", 
             "B07001_004E":"Total!!18 and 19 years",          
             "B07001_021E":"Same house 1 year ago!!20 to 24 years age", 
             "B07001_005E":"Total!!20 to 24 years",          
             "B07001_022E":"Same house 1 year ago!!25 to 29 years age", 
             "B07001_006E":"Total!!25 to 29 years",          
             "B07001_023E":"Same house 1 year ago!!30 to 34 yearsage", 
             "B07001_007E":"Total!!30 to 34 years",          
             "B07001_024E":"Same house 1 year ago!!35 to 39 years age", 
             "B07001_008E":"Total!!35 to 39 years",         
             "B07001_025E":"Same house 1 year ago!!40 to 44 years age", 
             "B07001_009E":"Total!!40 to 44 years",          
             "B07001_026E":"Same house 1 year ago!!45 to 49 years age", 
             "B07001_010E":"Total!!45 to 49 years",          
             "B07001_027E":"Same house 1 year ago!!50 to 54 years age", 
             "B07001_011E":"Total!!50 to 54 years",          
             "B07001_028E":"Same house 1 year ago!!55 to 59 years age", 
             "B07001_012E":"Total!!55 to 59 years",          
             "B07001_029E":"Same house 1 year ago!!60 to 64 years age", 
             "B07001_013E":"Total!!60 to 64 years",          
             "B07001_030E":"Same house 1 year ago!!65 to 69 years age", 
             "B07001_014E":"Total!!65 to 69 years",          
             "B07001_031E":"Same house 1 year ago!!70 to 74 years age", 
             "B07001_015E":"Total!!70 to 74 years",          
             "B07001_032E":"Same house 1 year ago!!75 years and over age",
             "B07001_016E":"Total!!75 years and over",
             
             "B01001_002E": "Total Male",
             'B01001_026E':'Total Female',
             'B19083_001E': "Gini Index of Inequality"}

2009-2013 ACS 5-year

In [5]:
#Income and earnings estimates in the 2009-2013 ACS 5-year data set are inflation-adjusted to 2013 dollars. 
#Income and earnings estimates in the 2014-2018 ACS 5-year data set are inflation-adjusted to 2018 dollars.

#set years to pull
years1 = [2010, 2011, 2012, 2013]

#create list to hold pulled variables
converted_deserts_census_data1 = []

#loop through each year and tract
for yr1 in years1:
    c2009_2013 = Census(api_key, year=yr1)
    
    for tract in tracts:

        census_data_2009_2013 = c2009_2013.acs5.get((variables), 
                         {'for': f"tract:{tract}", 'in': 'state:{} county:001'.format(states.DC.fips)})
        
        #add year variable to dictionary of variables pulled to keep track of year
        census_data_2009_2013[0].update({"year": yr1})
        
        converted_deserts_census_data1.append(census_data_2009_2013[0])
        
        #convert to dataframe
        converted_deserts_census_2009_2013df = pd.DataFrame(converted_deserts_census_data1)

        #renamed columns are defined in beginning of notebook 
        converted_deserts_census_2009_2013df = converted_deserts_census_2009_2013df.rename(columns=renamed_variables)

        
#adjust to 2018 inflation rate to match adjusted rates for 2014+
converted_deserts_census_2009_2013df['Median Household Income (past 12 months)'] = converted_deserts_census_2009_2013df['Median Household Income (past 12 months)'] * 1.07970803
converted_deserts_census_2009_2013df['Per Capita Income'] = converted_deserts_census_2009_2013df['Per Capita Income'] * 1.07970803


converted_deserts_census_2009_2013df.head()

,Name,Total Population,Total Households,Median Household Income (past 12 months),Same house 1 year ago,Geographical Mobility in past year,HH with Public assistance or Food Stamps/SNAP,Median Age,Per Capita Income,Total White alone,...,Total!!50 to 54 years,Total!!55 to 59 years,Total!!60 to 64 years,Total!!65 to 69 years,Total!!70 to 74 years,Total!!75 years and over,Total Male,Total Female,Gini Index of Inequality,year
0,"Census Tract 111, District of Columbia, Distri...",4299.0,1641.0,59765.078585,4062.0,4271.0,279.0,47.0,31398.989220,268.0,...,352.0,424.0,252.0,89.0,150.0,720.0,1971.0,2328.0,0.425,2010
1,"Census Tract 96.01, District of Columbia, Dist...",2927.0,854.0,44191.369960,2278.0,2900.0,386.0,17.9,17151.162057,0.0,...,152.0,176.0,115.0,37.0,66.0,55.0,956.0,1971.0,0.559,2010
2,"Census Tract 78.06, District of Columbia, Dist...",2141.0,807.0,45532.367333,1913.0,2114.0,204.0,38.7,20934.458994,193.0,...,202.0,109.0,198.0,51.0,80.0,66.0,902.0,1239.0,0.410,2010
3,"Census Tract 78.09, District of Columbia, Dist...",2711.0,1177.0,23871.264835,2308.0,2627.0,497.0,35.6,20233.728482,27.0,...,227.0,133.0,127.0,75.0,92.0,79.0,1184.0,1527.0,0.536,2010
4,"Census Tract 95.01, District of Columbia, Dist...",6360.0,1847.0,43767.044704,3463.0,6360.0,334.0,20.8,17247.256071,2349.0,...,315.0,323.0,125.0,147.0,59.0,153.0,3533.0,2827.0,0.445,2010

ACS 2014-2018

In [6]:
#Repeat of cell above without inflation adjustments 
years = [2014, 2015, 2016, 2017, 2018]

converted_deserts_census_data = []

for yr in years:
    c2014_2018 = Census(api_key, year=yr)
    
    for tract in tracts:

        census_data_loop = c2014_2018.acs5.get((variables), 
                         {'for': f"tract:{tract}", 'in': 'state:{} county:001'.format(states.DC.fips)})
        
        census_data_loop[0].update({"year": yr})
        
        converted_deserts_census_data.append(census_data_loop[0])
        
        converted_deserts_census_2014_2018df = pd.DataFrame(converted_deserts_census_data)

        converted_deserts_census_2014_2018df = converted_deserts_census_2014_2018df.rename(columns=renamed_variables)
        
converted_deserts_census_2014_2018df.head()

,Name,Total Population,Total Households,Median Household Income (past 12 months),Same house 1 year ago,Geographical Mobility in past year,HH with Public assistance or Food Stamps/SNAP,Median Age,Per Capita Income,Total White alone,...,Total!!50 to 54 years,Total!!55 to 59 years,Total!!60 to 64 years,Total!!65 to 69 years,Total!!70 to 74 years,Total!!75 years and over,Total Male,Total Female,Gini Index of Inequality,year
0,"Census Tract 111, District of Columbia, Distri...",5083.0,1666.0,58833.0,4538.0,5052.0,324.0,42.0,30272.0,570.0,...,410.0,491.0,330.0,195.0,179.0,551.0,2435.0,2648.0,0.4766,2014
1,"Census Tract 96.01, District of Columbia, Dist...",2182.0,768.0,26607.0,2023.0,2182.0,309.0,36.8,19729.0,4.0,...,139.0,104.0,144.0,71.0,51.0,135.0,826.0,1356.0,0.5521,2014
2,"Census Tract 78.06, District of Columbia, Dist...",2116.0,865.0,34896.0,1763.0,2078.0,289.0,41.4,21293.0,58.0,...,185.0,161.0,193.0,64.0,63.0,154.0,1021.0,1095.0,0.5033,2014
3,"Census Tract 78.09, District of Columbia, Dist...",2664.0,1131.0,38819.0,2228.0,2584.0,315.0,36.9,21225.0,56.0,...,258.0,191.0,132.0,231.0,91.0,78.0,1115.0,1549.0,0.4194,2014
4,"Census Tract 95.01, District of Columbia, Dist...",6983.0,1763.0,43924.0,4994.0,6874.0,421.0,23.6,14906.0,1950.0,...,332.0,330.0,272.0,106.0,90.0,187.0,3474.0,3509.0,0.4273,2014

In [7]:
#combine all years into one dataframe
converted_deserts_census_all_years_df = pd.concat([converted_deserts_census_2014_2018df,converted_deserts_census_2009_2013df])
converted_deserts_census_all_years_df = converted_deserts_census_all_years_df.sort_values(['Name', 'year'])

converted_deserts_census_all_years_df.head()

,Name,Total Population,Total Households,Median Household Income (past 12 months),Same house 1 year ago,Geographical Mobility in past year,HH with Public assistance or Food Stamps/SNAP,Median Age,Per Capita Income,Total White alone,...,Total!!50 to 54 years,Total!!55 to 59 years,Total!!60 to 64 years,Total!!65 to 69 years,Total!!70 to 74 years,Total!!75 years and over,Total Male,Total Female,Gini Index of Inequality,year
0,"Census Tract 111, District of Columbia, Distri...",4299.0,1641.0,59765.078585,4062.0,4271.0,279.0,47.0,31398.989220,268.0,...,352.0,424.0,252.0,89.0,150.0,720.0,1971.0,2328.0,0.4250,2010
9,"Census Tract 111, District of Columbia, Distri...",4655.0,1651.0,65071.843552,4400.0,4643.0,278.0,45.3,33081.174331,448.0,...,316.0,544.0,293.0,129.0,158.0,606.0,2122.0,2533.0,0.4296,2011
18,"Census Tract 111, District of Columbia, Distri...",4811.0,1662.0,63512.745157,4508.0,4801.0,301.0,43.4,31425.981921,406.0,...,381.0,549.0,311.0,148.0,154.0,569.0,2253.0,2558.0,0.4429,2012
27,"Census Tract 111, District of Columbia, Distri...",4702.0,1615.0,59500.550117,4327.0,4702.0,327.0,45.8,30699.338417,560.0,...,458.0,501.0,335.0,159.0,149.0,578.0,2322.0,2380.0,0.4747,2013
0,"Census Tract 111, District of Columbia, Distri...",5083.0,1666.0,58833.000000,4538.0,5052.0,324.0,42.0,30272.000000,570.0,...,410.0,491.0,330.0,195.0,179.0,551.0,2435.0,2648.0,0.4766,2014

In [10]:
#export to csv
converted_deserts_census_all_years_df.to_csv('Food-Deserts/Census_Data.csv', index=False)