In [1]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# orig_working_directory = os.getcwd()
# print(orig_working_directory)
file_path = 'Food_Atlas_Reserch.csv'

food_desert_2010 = pd.read_csv(file_path)

In [3]:
food_desert_2010.columns

Index(['CensusTract', 'State', 'County', 'LILATracts_1And10',
       'LILATracts_halfAnd10', 'LILATracts_1And20', 'LILATracts_Vehicle',
       'Urban', 'Rural', 'LA1and10', 'LAhalfand10', 'LA1and20',
       'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20',
       'LATractsVehicle_20', 'HUNVFlag', 'GroupQuartersFlag', 'OHU2010',
       'NUMGQTRS', 'PCTGQTRS', 'LowIncomeTracts', 'POP2010', 'UATYP10',
       'lapophalf', 'lapophalfshare', 'lalowihalf', 'lalowihalfshare',
       'lakidshalf', 'lakidshalfshare', 'laseniorshalf', 'laseniorshalfshare',
       'lahunvhalf', 'lahunvhalfshare', 'lapop1', 'lapop1share', 'lalowi1',
       'lalowi1share', 'lakids1', 'lakids1share', 'laseniors1',
       'laseniors1share', 'lahunv1', 'lahunv1share', 'lapop10', 'lapop10share',
       'lalowi10', 'lalowi10share', 'lakids10', 'lakids10share', 'laseniors10',
       'laseniors10share', 'lahunv10', 'lahunv10share', 'lapop20',
       'lapop20share', 'lalowi20', 'lalowi20share', 'lakids20',
       'lakids20share', 'laseniors20', 'laseniors20share', 'lahunv20',
       'lahunv20share'],
      dtype='object')

In [5]:
# Original file has 65 columns. I pair this down to remove columns for 10 and 20 mile impact (Our focus is on rural areas(cities))

food_1nhalf_pd = food_desert_2010[['CensusTract','State','County','LILATracts_1And10','Urban', 'Rural','POP2010', 'UATYP10',
                                   'LILATracts_Vehicle','LATracts_half', 'LATracts1','HUNVFlag','OHU2010','NUMGQTRS', 'PCTGQTRS', 'LowIncomeTracts',
                                    'lapophalf', 'lapophalfshare', 'lalowihalf', 'lalowihalfshare', 'laseniorshalf', 'laseniorshalfshare',
                                    'lapop1', 'lapop1share', 'lalowi1','lalowi1share', 'lakids1', 'lakids1share', 'laseniors1',
                                    'laseniors1share', 'lahunv1', 'lahunv1share']]

food_1nhalf_pd.head(20)

,CensusTract,State,County,LILATracts_1And10,Urban,Rural,POP2010,UATYP10,LILATracts_Vehicle,LATracts_half,...,lapop1,lapop1share,lalowi1,lalowi1share,lakids1,lakids1share,laseniors1,laseniors1share,lahunv1,lahunv1share
0,1001020100,AL,Autauga,0,1,0,1912,U,0,1,...,1357.480940,0.709980,245.277225,0.128283,363.638381,0.717235,162.497246,0.735282,31.579173,0.045569
1,1001020200,AL,Autauga,0,1,0,2170,U,0,1,...,483.429683,0.222779,170.838823,0.078728,174.770470,0.288400,50.976822,0.238209,34.398590,0.046297
2,1001020300,AL,Autauga,0,1,0,3373,U,0,1,...,1417.874893,0.420360,380.786290,0.112892,377.128132,0.421844,190.001480,0.432805,19.156371,0.015252
3,1001020400,AL,Autauga,0,1,0,4386,U,0,1,...,1909.275364,0.435311,311.160977,0.070944,470.411544,0.463460,374.051202,0.413773,3.926144,0.002280
4,1001020500,AL,Autauga,0,1,0,10766,U,0,1,...,2753.648392,0.255773,373.426978,0.034686,745.740558,0.235845,373.826962,0.331996,57.430973,0.014069
5,1001020600,AL,Autauga,0,1,0,3668,U,0,1,...,2568.545500,0.700258,1035.789920,0.282385,712.291426,0.706638,263.752862,0.641734,30.093458,0.022955
6,1001020700,AL,Autauga,1,1,0,2891,U,1,1,...,1359.815629,0.470362,542.770191,0.187745,331.751718,0.483603,130.627606,0.362854,69.160784,0.058216
7,1001020801,AL,Autauga,0,0,1,3081,R,0,1,...,3080.999986,1.000000,575.410130,0.186761,814.999998,1.000000,340.999999,1.000000,78.134082,0.072751
8,1001020802,AL,Autauga,0,0,1,10435,R,0,1,...,10434.999980,1.000000,2677.750509,0.256612,2909.000013,1.000000,1059.999999,1.000000,62.340033,0.016876
9,1001020900,AL,Autauga,0,0,1,5675,R,0,1,...,5674.999998,1.000000,1346.036822,0.237187,1510.999997,1.000000,629.999999,1.000000,54.144249,0.026195
10,1001021000,AL,Autauga,1,0,1,2894,R,0,1,...,2894.000009,1.000000,1072.763419,0.370685,750.000003,1.000000,347.000002,1.000000,95.006766,0.087564
11,1001021100,AL,Autauga,0,0,1,3320,R,0,1,...,3320.000000,1.000000,1349.242827,0.406398,750.000000,1.000000,493.000001,1.000000,128.845865,0.098657
12,1003010100,AL,Baldwin,0,0,1,3804,R,0,1,...,3804.000021,1.000000,1106.091666,0.290771,917.000002,1.000000,605.000002,1.000000,13.796928,0.009137
13,1003010200,AL,Baldwin,0,0,1,2902,R,0,1,...,2901.999992,1.000000,1171.879487,0.403818,754.999996,1.000000,378.000000,1.000000,44.443942,0.040004
14,1003010300,AL,Baldwin,0,0,1,7826,R,0,1,...,7529.624902,0.962129,2476.596035,0.316457,1734.315589,0.952921,1073.133309,0.965917,114.423913,0.041960
15,1003010400,AL,Baldwin,0,0,1,4736,R,0,1,...,4710.727409,0.994664,1835.224917,0.387505,1171.259775,0.990914,609.706668,0.999519,46.997810,0.027010
16,1003010500,AL,Baldwin,0,1,0,4815,C,0,1,...,1892.505129,0.393044,289.544790,0.060134,421.386997,0.417628,396.780429,0.478625,20.067191,0.011161
17,1003010600,AL,Baldwin,1,1,0,3325,C,1,1,...,1622.204212,0.487881,713.181644,0.214491,455.935824,0.443517,181.536374,0.595201,74.233194,0.062591
18,1003010701,AL,Baldwin,0,1,0,7882,U,0,1,...,4783.906432,0.606941,529.752561,0.067210,1285.421514,0.646265,664.850234,0.493578,30.143386,0.009870
19,1003010703,AL,Baldwin,0,0,1,13166,R,0,1,...,11822.054310,0.897923,2534.092675,0.192472,3386.292034,0.908097,1008.113456,0.788204,75.484561,0.015474

In [7]:
US_pop = food_1nhalf_pd[['POP2010'].sum()
US_pop

308745538

In [11]:
DC_data = food_1nhalf_pd.loc[(food_1nhalf_pd['State']=='DC')]
DC_pop = DC_data['POP2010'].sum()
DC_pop

601723

In [19]:
State_Pop = food_1nhalf_pd.groupby(food_1nhalf_pd['State'])['POP2010'].sum()
#State_Pop = State_Pop['CensusTract','Pop2010','LILATracts_1And10']
State_Pop = pd.DataFrame(State_Pop)
State_Pop

        POP2010
State
AK       710231
AL      4779736
AR      2915918
AZ      6392017
CA     37253956
CO      5029196
CT      3574097
DC       601723
DE       897934
FL     18801310
GA      9687653
HI      1360301
IA      3046355
ID      1567582
IL     12830632
IN      6483802
KS      2853118
KY      4339367
LA      4533372
MA      6547629
MD      5773552
ME      1328361
MI      9883640
MN      5303925
MO      5988927
MS      2967297
MT       989415
NC      9535483
ND       672591
NE      1826341
NH      1316470
NJ      8791894
NM      2059179
NV      2700551
NY     19378102
OH     11536504
OK      3751351
OR      3831074
PA     12702379
RI      1052567
SC      4625364
SD       814180
TN      6346105
TX     25145561
UT      2763885
VA      8001024
VT       625741
WA      6724540
WI      5686986
WV      1852994
WY       563626

In [26]:
Mile1n10 = food_1nhalf_pd.loc[(food_1nhalf_pd['LILATracts_1And10'] > 0)]
State_Pop['FD 1mile']= Mile1n10.groupby(['State'])['POP2010'].sum()
State_Pop['1Mile FD%'] = (State_Pop['FD 1mile']/ State_Pop['POP2010'])
State_Pop

        POP2010  FD 1mile  1Mile FD%
State
AK       710231    101164   0.142438
AL      4779736    802939   0.167988
AR      2915918    690905   0.236943
AZ      6392017    979171   0.153187
CA     37253956   2636138   0.070761
CO      5029196    759340   0.150986
CT      3574097    286482   0.080155
DC       601723     34332   0.057056
DE       897934    118768   0.132268
FL     18801310   2513505   0.133688
GA      9687653   1907052   0.196854
HI      1360301    144599   0.106299
IA      3046355    373263   0.122528
ID      1567582    193079   0.123170
IL     12830632   1105652   0.086173
IN      6483802    905727   0.139691
KS      2853118    490584   0.171947
KY      4339367    491015   0.113154
LA      4533372    951620   0.209914
MA      6547629    436822   0.066715
MD      5773552    438454   0.075942
ME      1328361     79151   0.059585
MI      9883640    975373   0.098686
MN      5303925    753872   0.142135
MO      5988927   1009668   0.168589
MS      2967297    788518   0.265736
MT       989415    140113   0.141612
NC      9535483   1544044   0.161926
ND       672591     82872   0.123213
NE      1826341    201869   0.110532
NH      1316470    119411   0.090705
NJ      8791894    535209   0.060875
NM      2059179    553273   0.268686
NV      2700551    154623   0.057256
NY     19378102    797786   0.041169
OH     11536504   1334420   0.115669
OK      3751351    687232   0.183196
OR      3831074    444273   0.115966
PA     12702379    837988   0.065971
RI      1052567     80348   0.076335
SC      4625364    770568   0.166596
SD       814180    122684   0.150684
TN      6346105    987811   0.155656
TX     25145561   5184810   0.206192
UT      2763885    218953   0.079219
VA      8001024   1048359   0.131028
VT       625741     17692   0.028274
WA      6724540    852635   0.126795
WI      5686986    609649   0.107201
WV      1852994    252315   0.136166
WY       563626     68806   0.122077