In [13]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
# orig_working_directory = os.getcwd()
# print(orig_working_directory)
file_path = 'Food_Atlas_Reserch.csv'

food_desert_2010 = pd.read_csv(file_path)

In [15]:
food_desert_2010.columns

Index(['CensusTract', 'State', 'County', 'LILATracts_1And10',
       'LILATracts_halfAnd10', 'LILATracts_1And20', 'LILATracts_Vehicle',
       'Urban', 'Rural', 'LA1and10', 'LAhalfand10', 'LA1and20',
       'LATracts_half', 'LATracts1', 'LATracts10', 'LATracts20',
       'LATractsVehicle_20', 'HUNVFlag', 'GroupQuartersFlag', 'OHU2010',
       'NUMGQTRS', 'PCTGQTRS', 'LowIncomeTracts', 'POP2010', 'UATYP10',
       'lapophalf', 'lapophalfshare', 'lalowihalf', 'lalowihalfshare',
       'lakidshalf', 'lakidshalfshare', 'laseniorshalf', 'laseniorshalfshare',
       'lahunvhalf', 'lahunvhalfshare', 'lapop1', 'lapop1share', 'lalowi1',
       'lalowi1share', 'lakids1', 'lakids1share', 'laseniors1',
       'laseniors1share', 'lahunv1', 'lahunv1share', 'lapop10', 'lapop10share',
       'lalowi10', 'lalowi10share', 'lakids10', 'lakids10share', 'laseniors10',
       'laseniors10share', 'lahunv10', 'lahunv10share', 'lapop20',
       'lapop20share', 'lalowi20', 'lalowi20share', 'lakids20',
       'lakids20share', 'laseniors20', 'laseniors20share', 'lahunv20',
       'lahunv20share'],
      dtype='object')

In [16]:
# Original file has 65 columns. I pair this down to remove columns for 10 and 20 mile impact (Our focus is on rural areas(cities))

food_1nhalf_pd = food_desert_2010[['CensusTract','State','County','LILATracts_1And10','Urban', 'Rural','POP2010', 'UATYP10',
                                   'LILATracts_Vehicle','LATracts_half', 'LATracts1','HUNVFlag','OHU2010','NUMGQTRS', 'PCTGQTRS', 'LowIncomeTracts',
                                    'lapophalf', 'lapophalfshare', 'lalowihalf', 'lalowihalfshare', 'laseniorshalf', 'laseniorshalfshare',
                                    'lapop1', 'lapop1share', 'lalowi1','lalowi1share', 'lakids1', 'lakids1share', 'laseniors1',
                                    'laseniors1share', 'lahunv1', 'lahunv1share']]

food_1nhalf_pd.head(20)

,CensusTract,State,County,LILATracts_1And10,Urban,Rural,POP2010,UATYP10,LILATracts_Vehicle,LATracts_half,...,lapop1,lapop1share,lalowi1,lalowi1share,lakids1,lakids1share,laseniors1,laseniors1share,lahunv1,lahunv1share
0,1001020100,AL,Autauga,0,1,0,1912,U,0,1,...,1357.480940,0.709980,245.277225,0.128283,363.638381,0.717235,162.497246,0.735282,31.579173,0.045569
1,1001020200,AL,Autauga,0,1,0,2170,U,0,1,...,483.429683,0.222779,170.838823,0.078728,174.770470,0.288400,50.976822,0.238209,34.398590,0.046297
2,1001020300,AL,Autauga,0,1,0,3373,U,0,1,...,1417.874893,0.420360,380.786290,0.112892,377.128132,0.421844,190.001480,0.432805,19.156371,0.015252
3,1001020400,AL,Autauga,0,1,0,4386,U,0,1,...,1909.275364,0.435311,311.160977,0.070944,470.411544,0.463460,374.051202,0.413773,3.926144,0.002280
4,1001020500,AL,Autauga,0,1,0,10766,U,0,1,...,2753.648392,0.255773,373.426978,0.034686,745.740558,0.235845,373.826962,0.331996,57.430973,0.014069
5,1001020600,AL,Autauga,0,1,0,3668,U,0,1,...,2568.545500,0.700258,1035.789920,0.282385,712.291426,0.706638,263.752862,0.641734,30.093458,0.022955
6,1001020700,AL,Autauga,1,1,0,2891,U,1,1,...,1359.815629,0.470362,542.770191,0.187745,331.751718,0.483603,130.627606,0.362854,69.160784,0.058216
7,1001020801,AL,Autauga,0,0,1,3081,R,0,1,...,3080.999986,1.000000,575.410130,0.186761,814.999998,1.000000,340.999999,1.000000,78.134082,0.072751
8,1001020802,AL,Autauga,0,0,1,10435,R,0,1,...,10434.999980,1.000000,2677.750509,0.256612,2909.000013,1.000000,1059.999999,1.000000,62.340033,0.016876
9,1001020900,AL,Autauga,0,0,1,5675,R,0,1,...,5674.999998,1.000000,1346.036822,0.237187,1510.999997,1.000000,629.999999,1.000000,54.144249,0.026195
10,1001021000,AL,Autauga,1,0,1,2894,R,0,1,...,2894.000009,1.000000,1072.763419,0.370685,750.000003,1.000000,347.000002,1.000000,95.006766,0.087564
11,1001021100,AL,Autauga,0,0,1,3320,R,0,1,...,3320.000000,1.000000,1349.242827,0.406398,750.000000,1.000000,493.000001,1.000000,128.845865,0.098657
12,1003010100,AL,Baldwin,0,0,1,3804,R,0,1,...,3804.000021,1.000000,1106.091666,0.290771,917.000002,1.000000,605.000002,1.000000,13.796928,0.009137
13,1003010200,AL,Baldwin,0,0,1,2902,R,0,1,...,2901.999992,1.000000,1171.879487,0.403818,754.999996,1.000000,378.000000,1.000000,44.443942,0.040004
14,1003010300,AL,Baldwin,0,0,1,7826,R,0,1,...,7529.624902,0.962129,2476.596035,0.316457,1734.315589,0.952921,1073.133309,0.965917,114.423913,0.041960
15,1003010400,AL,Baldwin,0,0,1,4736,R,0,1,...,4710.727409,0.994664,1835.224917,0.387505,1171.259775,0.990914,609.706668,0.999519,46.997810,0.027010
16,1003010500,AL,Baldwin,0,1,0,4815,C,0,1,...,1892.505129,0.393044,289.544790,0.060134,421.386997,0.417628,396.780429,0.478625,20.067191,0.011161
17,1003010600,AL,Baldwin,1,1,0,3325,C,1,1,...,1622.204212,0.487881,713.181644,0.214491,455.935824,0.443517,181.536374,0.595201,74.233194,0.062591
18,1003010701,AL,Baldwin,0,1,0,7882,U,0,1,...,4783.906432,0.606941,529.752561,0.067210,1285.421514,0.646265,664.850234,0.493578,30.143386,0.009870
19,1003010703,AL,Baldwin,0,0,1,13166,R,0,1,...,11822.054310,0.897923,2534.092675,0.192472,3386.292034,0.908097,1008.113456,0.788204,75.484561,0.015474

In [17]:
US_pop = food_1nhalf_pd['POP2010'].sum()
US_pop

308745538

In [18]:
DC_data = food_1nhalf_pd.loc[(food_1nhalf_pd['State']=='DC')]
DC_pop = DC_data['POP2010'].sum()
DC_pop

601723

In [19]:
State_Pop = food_1nhalf_pd.groupby(food_1nhalf_pd['State'])['POP2010'].sum()
#State_Pop = State_Pop['CensusTract','Pop2010','LILATracts_1And10']
State_Pop = pd.DataFrame(State_Pop)

Mile1n10 = food_1nhalf_pd.loc[(food_1nhalf_pd['Urban'] > 0) &
                             (food_1nhalf_pd['LATracts1'] > 0)]

Mile1n10_pd = Mile1n10.groupby(['State'])


#Mile1n10.set_index('State',inplace=True)

#Mile1n10[['lakids1','laseniors1']]

State_Pop['Urban FD 1 mile']= Mile1n10_pd['POP2010'].sum()
State_Pop['Urban FD % Pop'] = (State_Pop['Urban FD 1 mile']/ State_Pop['POP2010'])*100
State_Pop['Kid Population'] = Mile1n10_pd['lakids1'].sum()
State_Pop['% kids Urban FD'] = State_Pop['Kid Population']/State_Pop['POP2010']*100
State_Pop['Sr Population'] = Mile1n10_pd['laseniors1'].sum()
State_Pop['% Srs Urban FD'] = State_Pop['Sr Population']/State_Pop['POP2010']*100


#(Mile1n10['lakids1']/ State_Pop['POP2010'])
# State_Pop['Elderly Population'] = (Mile1n10['laseniors1']/ State_Pop['POP2010'])


State_Pop

,POP2010,Urban FD 1 mile,Urban FD % Pop,Kid Population,% kids Urban FD,Sr Population,% Srs Urban FD
State,,,,,,,
AK,710231,264951,37.304905,4.650853e+04,6.548367,11482.480351,1.616725
AL,4779736,1885724,39.452472,2.646670e+05,5.537273,137696.719528,2.880844
AR,2915918,1135753,38.950101,1.408780e+05,4.831344,73960.771869,2.536449
AZ,6392017,2570579,40.215459,3.653171e+05,5.715209,222137.483528,3.475233
CA,37253956,10514461,28.223744,1.270523e+06,3.410439,601468.837706,1.614510
CO,5029196,2104136,41.838417,2.916045e+05,5.798233,109828.642429,2.183821
CT,3574097,1816667,50.828699,2.372980e+05,6.639383,158972.296356,4.447901
DC,601723,51759,8.601799,3.566532e+03,0.592720,2529.704896,0.420410
DE,897934,487443,54.284947,6.255034e+04,6.966028,41584.751720,4.631159
FL,18801310,9184224,48.848851,1.058202e+06,5.628341,867110.606560,4.611969
GA,9687653,5241875,54.108823,7.904692e+05,8.159554,277131.586244,2.860668
HI,1360301,559689,41.144497,8.025564e+04,5.899844,44100.232478,3.241947
IA,3046355,1079701,35.442389,1.165028e+05,3.824333,61498.804878,2.018767
ID,1567582,678107,43.258152,1.066117e+05,6.801029,34675.950624,2.212066
IL,12830632,4571466,35.629313,6.186088e+05,4.821343,287417.211907,2.240086
IN,6483802,2869911,44.262780,4.068045e+05,6.274166,189707.303382,2.925865
KS,2853118,1212454,42.495754,1.669740e+05,5.852333,66396.300149,2.327149
KY,4339367,1298117,29.914893,1.694895e+05,3.905858,76320.124812,1.758785
LA,4533372,1910171,42.135766,2.907625e+05,6.413823,118174.745067,2.606774
MA,6547629,3253883,49.695592,4.574547e+05,6.986570,281888.958769,4.305207
MD,5773552,2328561,40.331515,3.040579e+05,5.266392,151280.101976,2.620226
ME,1328361,311130,23.422097,3.255700e+04,2.450915,27309.016675,2.055843
MI,9883640,3678879,37.221904,5.141339e+05,5.201868,266957.369179,2.701003
MN,5303925,2456508,46.314908,3.584054e+05,6.757361,151992.617860,2.865663
MO,5988927,2645308,44.169982,3.290818e+05,5.494837,160277.368227,2.676228
MS,2967297,1015887,34.236108,1.492308e+05,5.029182,65613.155572,2.211210
MT,989415,272969,27.588929,2.777809e+04,2.807526,17362.794877,1.754855
NC,9535483,4245235,44.520398,5.709130e+05,5.987248,265719.169880,2.786636
ND,672591,209637,31.168570,2.609967e+04,3.880466,9485.279145,1.410260
NE,1826341,621994,34.056838,7.516667e+04,4.115697,30038.891877,1.644758
NH,1316470,541993,41.170175,8.302046e+04,6.306293,47918.381714,3.639914
NJ,8791894,3919986,44.586366,5.343928e+05,6.078245,341398.471186,3.883105
NM,2059179,927476,45.041058,1.456361e+05,7.072532,63562.645954,3.086796
NV,2700551,866689,32.093043,1.347965e+05,4.991445,65322.412281,2.418855
NY,19378102,4342642,22.410048,5.413277e+05,2.793502,341400.706835,1.761786
OH,11536504,5117279,44.357277,6.740967e+05,5.843162,379973.337905,3.293661
OK,3751351,1443225,38.472140,2.101055e+05,5.600795,101885.848179,2.715977
OR,3831074,1398212,36.496606,1.409337e+05,3.678700,81551.072368,2.128674
PA,12702379,4695878,36.968492,6.221348e+05,4.897782,413205.189079,3.252975
RI,1052567,519321,49.338522,5.754959e+04,5.467547,43694.622624,4.151244
SC,4625364,2201001,47.585466,3.003125e+05,6.492732,160456.623210,3.469059
SD,814180,290040,35.623572,3.682270e+04,4.522673,17054.245052,2.094653
TN,6346105,2853472,44.964147,4.055837e+05,6.391065,194279.809326,3.061402
TX,25145561,12610755,50.151019,2.018769e+06,8.028332,621080.840290,2.469942
UT,2763885,1259468,45.568756,2.379472e+05,8.609157,51836.558244,1.875496
VA,8001024,3031019,37.882888,3.733175e+05,4.665871,173746.397635,2.171552
VT,625741,116163,18.564070,1.373597e+04,2.195152,9584.987327,1.531782
WA,6724540,2855941,42.470429,3.737106e+05,5.557415,172096.936352,2.559237
WI,5686986,2250021,39.564384,2.830098e+05,4.976446,149025.381733,2.620463
WV,1852994,570009,30.761514,7.132492e+04,3.849172,49869.733711,2.691306
WY,563626,211248,37.480173,2.556984e+04,4.536668,11323.243184,2.008999

## Sort and pull out 5 States to for comparison to DC.

In [20]:
STATES = State_Pop.reset_index()
STATES

,State,POP2010,Urban FD 1 mile,Urban FD % Pop,Kid Population,% kids Urban FD,Sr Population,% Srs Urban FD
0,AK,710231,264951,37.304905,4.650853e+04,6.548367,11482.480351,1.616725
1,AL,4779736,1885724,39.452472,2.646670e+05,5.537273,137696.719528,2.880844
2,AR,2915918,1135753,38.950101,1.408780e+05,4.831344,73960.771869,2.536449
3,AZ,6392017,2570579,40.215459,3.653171e+05,5.715209,222137.483528,3.475233
4,CA,37253956,10514461,28.223744,1.270523e+06,3.410439,601468.837706,1.614510
5,CO,5029196,2104136,41.838417,2.916045e+05,5.798233,109828.642429,2.183821
6,CT,3574097,1816667,50.828699,2.372980e+05,6.639383,158972.296356,4.447901
7,DC,601723,51759,8.601799,3.566532e+03,0.592720,2529.704896,0.420410
8,DE,897934,487443,54.284947,6.255034e+04,6.966028,41584.751720,4.631159
9,FL,18801310,9184224,48.848851,1.058202e+06,5.628341,867110.606560,4.611969
10,GA,9687653,5241875,54.108823,7.904692e+05,8.159554,277131.586244,2.860668
11,HI,1360301,559689,41.144497,8.025564e+04,5.899844,44100.232478,3.241947
12,IA,3046355,1079701,35.442389,1.165028e+05,3.824333,61498.804878,2.018767
13,ID,1567582,678107,43.258152,1.066117e+05,6.801029,34675.950624,2.212066
14,IL,12830632,4571466,35.629313,6.186088e+05,4.821343,287417.211907,2.240086
15,IN,6483802,2869911,44.262780,4.068045e+05,6.274166,189707.303382,2.925865
16,KS,2853118,1212454,42.495754,1.669740e+05,5.852333,66396.300149,2.327149
17,KY,4339367,1298117,29.914893,1.694895e+05,3.905858,76320.124812,1.758785
18,LA,4533372,1910171,42.135766,2.907625e+05,6.413823,118174.745067,2.606774
19,MA,6547629,3253883,49.695592,4.574547e+05,6.986570,281888.958769,4.305207
20,MD,5773552,2328561,40.331515,3.040579e+05,5.266392,151280.101976,2.620226
21,ME,1328361,311130,23.422097,3.255700e+04,2.450915,27309.016675,2.055843
22,MI,9883640,3678879,37.221904,5.141339e+05,5.201868,266957.369179,2.701003
23,MN,5303925,2456508,46.314908,3.584054e+05,6.757361,151992.617860,2.865663
24,MO,5988927,2645308,44.169982,3.290818e+05,5.494837,160277.368227,2.676228
25,MS,2967297,1015887,34.236108,1.492308e+05,5.029182,65613.155572,2.211210
26,MT,989415,272969,27.588929,2.777809e+04,2.807526,17362.794877,1.754855
27,NC,9535483,4245235,44.520398,5.709130e+05,5.987248,265719.169880,2.786636
28,ND,672591,209637,31.168570,2.609967e+04,3.880466,9485.279145,1.410260
29,NE,1826341,621994,34.056838,7.516667e+04,4.115697,30038.891877,1.644758
30,NH,1316470,541993,41.170175,8.302046e+04,6.306293,47918.381714,3.639914
31,NJ,8791894,3919986,44.586366,5.343928e+05,6.078245,341398.471186,3.883105
32,NM,2059179,927476,45.041058,1.456361e+05,7.072532,63562.645954,3.086796
33,NV,2700551,866689,32.093043,1.347965e+05,4.991445,65322.412281,2.418855
34,NY,19378102,4342642,22.410048,5.413277e+05,2.793502,341400.706835,1.761786
35,OH,11536504,5117279,44.357277,6.740967e+05,5.843162,379973.337905,3.293661
36,OK,3751351,1443225,38.472140,2.101055e+05,5.600795,101885.848179,2.715977
37,OR,3831074,1398212,36.496606,1.409337e+05,3.678700,81551.072368,2.128674
38,PA,12702379,4695878,36.968492,6.221348e+05,4.897782,413205.189079,3.252975
39,RI,1052567,519321,49.338522,5.754959e+04,5.467547,43694.622624,4.151244
40,SC,4625364,2201001,47.585466,3.003125e+05,6.492732,160456.623210,3.469059
41,SD,814180,290040,35.623572,3.682270e+04,4.522673,17054.245052,2.094653
42,TN,6346105,2853472,44.964147,4.055837e+05,6.391065,194279.809326,3.061402
43,TX,25145561,12610755,50.151019,2.018769e+06,8.028332,621080.840290,2.469942
44,UT,2763885,1259468,45.568756,2.379472e+05,8.609157,51836.558244,1.875496
45,VA,8001024,3031019,37.882888,3.733175e+05,4.665871,173746.397635,2.171552
46,VT,625741,116163,18.564070,1.373597e+04,2.195152,9584.987327,1.531782
47,WA,6724540,2855941,42.470429,3.737106e+05,5.557415,172096.936352,2.559237
48,WI,5686986,2250021,39.564384,2.830098e+05,4.976446,149025.381733,2.620463
49,WV,1852994,570009,30.761514,7.132492e+04,3.849172,49869.733711,2.691306
50,WY,563626,211248,37.480173,2.556984e+04,4.536668,11323.243184,2.008999

In [21]:
Metro_pop = STATES.loc[(STATES['State'] == 'DC')|
                         (STATES['State'] == 'MD')|
                         (STATES['State'] == 'VA')| 
                         (STATES['State'] == 'NY')|                         
                         (STATES['State'] == 'PA')]

Metro_pop

,State,POP2010,Urban FD 1 mile,Urban FD % Pop,Kid Population,% kids Urban FD,Sr Population,% Srs Urban FD
7,DC,601723,51759,8.601799,3566.531627,0.592720,2529.704896,0.420410
20,MD,5773552,2328561,40.331515,304057.885657,5.266392,151280.101976,2.620226
34,NY,19378102,4342642,22.410048,541327.713445,2.793502,341400.706835,1.761786
38,PA,12702379,4695878,36.968492,622134.774472,4.897782,413205.189079,3.252975
45,VA,8001024,3031019,37.882888,373317.450962,4.665871,173746.397635,2.171552

In [22]:
Metro_pop = Metro_pop[['State','POP2010','Urban FD % Pop','% kids Urban FD','% Srs Urban FD']]
Metro_pop

   State   POP2010  Urban FD % Pop  % kids Urban FD  % Srs Urban FD
7     DC    601723        8.601799         0.592720        0.420410
20    MD   5773552       40.331515         5.266392        2.620226
34    NY  19378102       22.410048         2.793502        1.761786
38    PA  12702379       36.968492         4.897782        3.252975
45    VA   8001024       37.882888         4.665871        2.171552

In [23]:
Metro_pop["Urban FD % Pop"] = Metro_pop["Urban FD % Pop"].map("{0:,.2f}%".format)
Metro_pop["% kids Urban FD"] = Metro_pop["% kids Urban FD"].map("{0:,.2f}%".format)
Metro_pop["% Srs Urban FD"] = Metro_pop["% Srs Urban FD"].map("{0:,.2f}%".format)

Metro_pop

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   State   POP2010 Urban FD % Pop % kids Urban FD % Srs Urban FD
7     DC    601723          8.60%           0.59%          0.42%
20    MD   5773552         40.33%           5.27%          2.62%
34    NY  19378102         22.41%           2.79%          1.76%
38    PA  12702379         36.97%           4.90%          3.25%
45    VA   8001024         37.88%           4.67%          2.17%

In [24]:
Metro_pop.rename(columns = {'POP2010':'2010 Pop.', 'Urban FD % Pop':'Urban Food Desert % Pop', 
                              '% kids Urban FD':'% Kids in Urban FD','% Srs Urban FD':'% Srs in Urban Food Desert' }, inplace = True)
Metro_pop

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,State,2010 Pop.,Urban Food Desert % Pop,% Kids in Urban FD,% Srs in Urban Food Desert
7,DC,601723,8.60%,0.59%,0.42%
20,MD,5773552,40.33%,5.27%,2.62%
34,NY,19378102,22.41%,2.79%,1.76%
38,PA,12702379,36.97%,4.90%,3.25%
45,VA,8001024,37.88%,4.67%,2.17%

In [26]:
Metro_pop.set_index('State')

,2010 Pop.,Urban Food Desert % Pop,% Kids in Urban FD,% Srs in Urban Food Desert
State,,,,
DC,601723,8.60%,0.59%,0.42%
MD,5773552,40.33%,5.27%,2.62%
NY,19378102,22.41%,2.79%,1.76%
PA,12702379,36.97%,4.90%,3.25%
VA,8001024,37.88%,4.67%,2.17%

In [ ]:
Metrop_pop